<h2>Course Details</h2>
<div *ngIf = "course">
  <h3>{{course.name}}</h3>
  <p>Description: {{course.description}}</p>
  <a [title]="'Details of '+ course.author" 
  [routerLink]="['/authors',authorId]">Author: {{course.author}}</a>

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <style>
    .checked {
      color: orange;
    }
  </style>
  <p>
    {{course.rating}}
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star-half-o checked"></span>
  </p>

  <p>Duration: {{course.duration}}</p>

  <h3><button (click)="addToCart(course)">Enroll Now </button></h3>
  <h3>
  <button (click)="addToWishlist(course)">Wishlist</button></h3>
</div>